@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  width: 100vw;
  height: 100vh;
}

:root {
  --primary-color: #c4c4c4;
  --navbar-bg: #fff;
  --navbar-text: #000;
  --navbar-active-color: #f00;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}